* { padding: 0; margin: 0; box-sizing: border-box; }

.topnav {
  overflow: hidden;
  background-color: white;
  transition: height 2s;
  position: sticky;
  top:0;
  z-index: 10;
}

.topnav span {
float: left;

}
#image1
{
margin-top: 10px;
transition: height 2s;
}


ul
{
list-style-type: none;
margin-left: 0px;
margin-top: 10px;
padding: 10px;
overflow: hidden;
float: right;
}

li {
float: left;
display: block;
}

li a {

display: block;
color: black;
text-align: center;
font-size: 1.25em;
padding: 16px;
margin-right: 5px;
text-decoration: none;

}

li a:hover
{
background-color: #589240;

}

.topnav .icon {
  display: none;
}
.background
{
    background: url(wood-grain-bg.png);
    background-repeat: repeat;
    background-size: auto;
	z-index: -1;
	padding-bottom: 110px;
	
}
.image2
{
width: 100%;
height: 477px;
opacity: 0.3;
clip-path: ellipse(100% 501px at top);
position: relative;
top: 0;
z-index: 0;

}

#programs
{
color: #589240;
text-align: center;
font-size: 62px;
font-family: 'Asap', sans-serif;
font-weight: 700;
line-height: 1.2em;
opacity: 1;
position: relative;
top: -370px;
}

.box
{
background: white;
padding: 70px;
box-sizing: box-border;
width: 70%;
position: relative;
margin-left: auto;
margin-right: auto;
top: -200px;
}

.image9
{
background:url(GreenLeafLogo.png);
width: 40px;
height: 40px;
background-size: cover;
transform: rotate(-35deg);
}

#Help
{
margin-top: -13px;
font-family: 'Asap', sans-serif;
font-weight: 700;
line-height: 1.2em;
margin-left: 22px;
}

#reach
{
font: 400 28px/1.5em 'Montserrat',sans-serif;
margin-left: 22px;
}

.para {
font-size: 18px;
margin-left: 22px;
margin-top: 35px;
margin-right: 35px;
line-height: 1.2em;
}

.pixel
{
position: relative;
bottom: -74px;
left: -70px;
}
.row
{
width: 100%;
padding: 0 90px;
margin-top: 0px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column

{
width: 25%;
float: left;
box-sizing: border-box;
padding: 0px;
}
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.image:hover
{

 background: white;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
}

.container:hover .overlay {
  height: 20%;
}

.text {
 
  transform: translate(5%, 5%);
  -ms-transform: translate(-50%, -50%);
 
}
.heading
{
color: #589240;
}


.connect
{

    background: #589240;
    background-size: cover;
    background-repeat: no-repeat;
   	padding: 15px;
    height: 380px;
	text-align: center;
	color: white;

}

.lastmenu
{
display: flex;
justify-content: center;
margin-top: 25px;
}

.lastmenu > div
{
padding: 20px;
}

.outer:hover {
    fill: white;
}

.outer:hover + .inner {
    fill:#589240;
}
.outer:hover + .inner1 {
	fill: white;
    stroke:#589240;
}

@media screen and (max-width: 940px) {
   li a{display: none;}
   #image1 { height: 40px; }
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .column {
    width: 50%;
    display: block;
    
  }
  .row
  {
  padding: 20px;
  }
}

@media screen and (max-width: 940px) {
  .topnav.responsive {position: relative;}
  .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}